<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Ajax - Native Javascript 테스트</title>
</head>
<body>
<div id="result"></div>
<script src="static/js/ajax.js"></script>
<script src="static/js/JSONP.js"></script>
</body>
</html>